$maincolor: #A8DCB9;
$primary: #E4F9F5;
$secondarycolor: #FAA381;
$icons: #05648A;

.garden {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: $icons;
}

.progressBar {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  height: 80px;
}

.plant-img {
  background-color: $maincolor;
  border-radius: 30px 0 30px 0;
  margin-bottom: 30px;
  margin-top: 10px;
  padding: 25px;
}

.banner {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 50px;
  color: $icons;
  border-bottom: $icons solid 1px;
}

.buttonPulse {
  font-size: 32px;
  color: $maincolor;
}

.addNew {
  display: flex;
  font-size: 32px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  align-items: center;
  background-color: $maincolor;
  border-radius: 15px;
  width: 80%;
}

.addNew:hover {
  background-color: $secondarycolor;
}

.innerbutton {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  background-color: $maincolor;
  display: flex;
  align-items: center;
  height: 150px;

}

.goalName {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 32px;
  list-style-type: none;
}

.tAmount {
  font-size: 20px;
  margin-top: 0px;
}

.gAmount {
  font-size: 20px;
  margin-top: 0px;
}

.edits {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-size: 20px;
}

.amounts {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: black;
  margin-top: 10px;
}

.carousel {
  width: 80%;
  overflow: auto;
  position: relative;
  display: flex;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 50px;
  box-shadow: 2px 4px 6px #05648a42;
  // filter: drop-shadow(2px 4px 6px #05648a42);
  .carousel-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    scroll-snap-type: x mandatory;
    flex-direction: column;
    width: 100vw;
    padding-left: 20px;
    padding-right: 20px;

    h3 {
      color: $icons;
      font-size: 20px;
      margin: 0px;
    }
    .header {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      border-bottom: $icons 1px solid;
      padding: 10px 0px;
      margin: 10px 0px;
    }
    footer {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.edit-button {
  cursor: pointer;
  height: 20px;
  background-color: transparent;
  border: none;
  padding: 0px;
  font-size: 16px;
}
